:root {
    --padding-between: 2em;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Galdeano;
    src: url('../fonts/Galdeano-Regular.woff2') format('woff2'),
        url('../fonts/Galdeano-Regular.ttf') format('truetype');
        font-display: swap;
}

body {
    font-family: Galdeano, sans-serif;
    font-size: 1.2rem;
    line-height: 1.4;
    background-image: url('./img/45degreee_fabric.webp');
}

img {
    display: inline-block;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 1em;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--padding-between);
    position: relative;
}

.header__skew {
    height: 60vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    box-shadow: 0 0 5px #000000;
    background-color: #9acd32;
    transform: translate(0, -40%) skewY(-14deg);
}

.header__about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__description {
    padding: 1em;
    line-height: 1.4;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(105, 104, 104);
}

.about__foto {
    position: relative;
    top:0px;
    left: 10px;
}

.about__foto img {
    min-width: 300px;
    height: auto;
    position: relative;
    border-radius: 10px;     
    box-shadow: 0 0 5px rgb(105, 104, 104);
    transition: 0.5s ease-in-out;
    filter: grayscale(100);
}

.about__foto img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
}

.promo__text {
    position: absolute;
    z-index: 1;
    left: 30px;
    bottom: -15px;
    font-size: 1.2em;
    color: #fff;
    text-shadow: 1px 1px 3px black;
}

.about__icons {
    display: flex;
    justify-content: end;
    gap: 1em;
    margin-top: 1em;
}

.about__icons img {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

.about__icons img:hover{
    transform: scale(1.3);
}

main {
    padding: 0 2em 1em 2em;
}

.works__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    flex-wrap: wrap;
}

.works__card {
    max-width: 31%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: yellowgreen;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(105, 104, 104);
    transition: 0.5s;
}

.works__card:hover {
    transform: scale(1.05);
}

.card__screenshot img{
    width: 100%;   
    filter: grayscale(100%);
}

.card__screenshot:hover, .works__card:hover .card__screenshot img{
    width: 100%;   
    filter: grayscale(0%);
}

.card__screenshot img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0 ;
}

.card__nameUndIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.card__icons img {
    width: 30px;
    height: 30px;
    transition: 0.5s;
}

.card__icons img:hover {
    transform: scale(1.4);
}

.card__description {
    margin-bottom: 2em;
    padding: 0 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: var(--padding-between);
    line-height: 1.4;
    font-size: 1.2em;
    background-color: blueviolet;
}

.footer__foto {
    max-width: 600px;
    min-width: 300px;
}

.footer__foto img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

address {
    font-style: normal;
}

address img {
    width: 30px;
    height: 30px;
}

.footer__contacts {
    color: #fff;
}

.footer__icons {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}


.footer__icons svg {
    width: 50px;
    height: 50px;
}

.footer__icons svg:hover {
    transform: scale(1.3);
    transition: 0.5s;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1em;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
}

footer a:hover {
    color: #000000;
}

@media (max-width: 650px) {
    .header__about {
        flex-direction: column;
    }

        main h2, footer h2 {
        text-align: center;
    }
    
    footer {
        flex-direction: column;
        justify-content: end;
        font-size: 1em;
        padding: 0;
        margin-top: 2em;
    }

    .footer__contacts {
        padding: 1em;
    }
}

@media (max-width: 430px) {
    .header__skew {
        height: 80vh;
        z-index: -1;
        transform: translate(0, -22%) skewY(-26deg);
}

    .about__foto {
        left: 0px;
}

    main {
        padding: 0;
    }

    .works__card {
        max-width: 90%;
        gap: 0.3em;
    }

    .footer__icons {
        justify-content: center;
    }
}